/* calling different fonts */
@font-face {
    font-family: Formula1-Bold;
    font-weight: bold;
    src: url("assets/Formula1-Bold.otf") format("opentype");
}

@font-face {
    font-family: Helvetica-Neue;
    src: url("assets/HelveticaNeueRegular.otf");
}




body {
    margin: 0;
    padding: 0;
    background-color: #CA3F3A;
}

p {
    font-family: Helvetica-Neue;
}

a {
    font-family: Helvetica-Neue;
    font-size: 1.5rem;
    color: white;
}

/*for all scrolling texts on screen, missing the scrolling part*/
div.scrolling_text{
    font-family: Formula1-Bold;
    font-weight: 1000;
    font-size: 5rem;
    color:yellow ;
    white-space: nowrap;
}



.HomeContainer{
    position: relative;
    text-align: center;
    color: white;
}

.menu{
    top: 1rem;
    right: 1 rem;
    position: absolute;
    white-space: nowrap;
}


/*need to get display of home image in the right position, with height beign the height of the display*/
.HomeImage{
    background-position: center;
    max-height: 100%;
    object-fit: cover;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.overlay_text{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    text-align: center;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.Subsystems{
    flex-direction: column;
}

