/* calling different fonts */
@font-face {
    font-family: Formula1-Bold;
    font-weight: bold;
    src: url("assets/Formula1-Bold.otf") format("opentype");
}

@font-face {
    font-family: Helvetica-Neue;
    src: url("assets/HelveticaNeueRegular.otf");
}

@keyframes RightToLeft { /*animation function for the sliding text*/
    to {
        transform: translateX(-33.9%);/*This weird number is where the cycle restarts
        and is linked to the lenght of the text in index.html at line 26. */
    }
}


body {
    margin: 0px;
    padding: 0px;
    background-color: #CA3F3A;
    overflow-x: hidden;
}

p {
    font-family: Helvetica-Neue;
}

a {
    font-family: Helvetica-Neue;
    font-size: 1.5rem;
} 

header{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.desktop{

}

.mobile{
    background: url('assets/Group.jpg');
    

    cursor: pointer;
}

.HomeStuff{
    overflow-x: hidden;
    object-fit: cover;
}

.HomeImage{
    background: url('assets/HomeImage.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position-x: 50%;
    z-index: -2;
}

.overlay_text{ /*parent*/
    font-family: Formula1-Bold;
    font-weight: 1000;
    font-size: 5rem;
    color:yellow ;
    white-space: nowrap;
    position: absolute;
    top: 50%; 
    left: 0%;
    text-align: center;

    outline: 3px solid red;
}

.scrolling_text{ /*child*/
    width: max-content;
    animation: RightToLeft 10s linear infinite ; /*change number 10 here to 
    increase/decrease speed of animation*/
}





.logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.Subsystems{
    flex-direction: column;
}



